<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Adoção Pets</mat-card-title>
      <mat-card-subtitle>Serviço de Adoção de Gatos e Cachorros</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/adocao.svg" alt="Image Home Help Desk">
    <mat-card-content>
        <p>
            Olá! Seja bem vindo ao Adoção Pets.<br/>
            Ao entrar em nosso site de adoção, você está abrindo as portas para uma jornada de amor e lealdade.
            A cada login, oferecemos a chance de transformar não apenas a vida de um pet, mas também a sua própria.
            Navegue pelos perfis cativantes, repletos de histórias únicas, e descubra o companheiro perfeito para encher
            seus dias de alegria. Faça parte da nossa comunidade comprometida com a adoção responsável, onde cada conexãofortalece laços especiais entre humanos e animais. Seja bem-vindo a um mundo onde o amor é a chave para lares felizes e corações completos.
        </p>
    </mat-card-content>
  </mat-card>
  